
.board-write-wrapper {
    width: 1440px;
    height: 1800px;
}

.board-write-title-input {

    margin-top: 76px;
    margin-left: 120px;

    width: 780px;
    height: 32px;

    color: #8C8C8C;

    font-family: NanumGothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.20);

    background: #FFF;
}

.board-write-calendar-notepad-box {

    margin-top: 12px;

    display: flex;
    align-items: center;
}

.board-write-calendar-start-text {
    width: 120px;

    margin-left: 120px;
    
    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.board-write-calendar-start-input-box {
    width: 180px;

    display: flex;
    align-items: center;
}

.board-write-calendar-end-text {
    width: 120px;

    margin-left: 60px;
    
    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.board-write-calendar-end-input-box {
    width: 180px;

    display: flex;
    align-items: center;
}

.board-write-calendar-input {
    width: 180px;
    height: 34px;

    outline: none;
    border: 1px solid #979797;

    background: #FFFFFF;
}

.board-write-calendar-limit-day-text {
    display: flex;
    width: 185px;
    height: 32px;
    flex-direction: column;
    justify-content: center;

    color: #8C8C8C;

    text-align: center;
    font-family: NanumGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.board-write-notepad-accountbook-text {

    margin-left: 175px;

    width: 180px;
    height: 60px;

    display: flex;
    width: 180px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 30px;
    background: #FFF;

    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.board-write-map-api {

    width: 1200px;
    height: 540px;

    
    margin-left: 120px;
    margin-top: 60px;

    outline: #000000 solid 1px;
}











.itinerary-card-container {
    width: 1440px;
    height: 660px;

    margin-top: 120px;

    display: flex;

    align-items: center;
}

.left-arrow-icon {
    margin-left: 60px;

    border-radius: 30px;
    background: #FFF;

    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);

    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itinerary-card-box {
    width: 1140px;
    height: 100%;

    margin-left: 60px;

    /* overflow: hidden; */

    display: flex;
    gap: 120px
}

.right-arrow-icon {
    border-radius: 30px;
    background: #FFF;

    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);

    display: flex;
    width: 60px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save-cancel-box {
    width: 300px;
    height: 60px;

    display: flex;

    margin-left: 960px;

    gap: 60px;
}

.save-text {
    display: flex;
    width: 120px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #FFF;

    text-align: center;
    font-family: NanumGothic;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 30px;
    background: #000;

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.cancel-text {
    display: flex;
    width: 120px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #FFF;

    text-align: center;
    font-family: NanumGothic;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    border-radius: 30px;
    background: #FF6868;

    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.itinerary-card-wrapper {
    width: 480px;
    height: 600px;

    background: #FFF;

    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.day-count-box {
    display: flex;
    width: 480px;
    height: 60px;

    background: #000;
}

.day-count-text {
    display: flex;
    width: 120px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    color: #FFF;

    text-align: center;
    font-family: NanumGothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.day-text {
    display: flex;
    width: 120px;
    height: 60px;
    flex-direction: column;
    justify-content: center;

    margin-left: 60px;

    color: #FFF;

    text-align: center;
    font-family: NanumGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itinerary-text-box {
    width: 100%;
    height: 540px;
}

.itinerary-add-text {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #000;

    text-align: center;
    font-family: NanumGothic;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.memo-acountbook-wrapper {
    width: 1440px;
    height: 1800px;
}
