<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade</title>
    <link rel="stylesheet" href="style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b17d4fa9e7.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>
 

<!-- 상품 리스트 카드 -->
<div class="container">
  <div class="cards">
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">훔친 비치 타올 판매합니다.</div>
      <div class="itemtype">비치 타올</div>
      <div class="currencytype">KRW |</div>
      <div class="price">3000</div>
      <div class="location">부산</div>
      <div class="viewcount"></div>
      <div class="mapicon"></div>
      <div class="writedatetime">2023.08.31</div>
    </div>
    
      </div> 



</div>
</body>
</html>