.inputbox {
  position: relative;
  display: flex;
  align-items: center;

  width: 840px;
  height: 60px;
}

.inputbox-label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 240px;
  height: 60px;

  font-family: JeonjuCraftGoR;
  font-size: 34px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFF;

  cursor: context-menu;
}

.inputbox-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 600px;
  height: 60px;

  border-radius: 30px;

  background-color: #ffffff;
  opacity: 50%;
}

.input {
  width: 500px;
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: JeonjuCraftGoR;
  font-size: 25px;

  border: none;
}

.input::placeholder {
  opacity: 0.85;
  font-family: JeonjuCraftGoR;
  text-align: center;
}

.input:focus {
  outline: none;
}

.inputbox-message-error {
  width: 100%;
  position: absolute;
  
  display: flex;
  flex-direction: column;
  bottom: -27px;
  right: -280px;

  font-size: 20px;
  font-family: JeonjuCraftGoR;
  color: #FF1F00;
  opacity: 0.85;
}

.inputbox-message {
  width: 100%;
  position: absolute;
  
  display: flex;
  flex-direction: column;
  bottom: -27px;
  right: -280px;

  font-size: 20px;
  font-family: JeonjuCraftGoR;
  color: #60ff3d;
  opacity: 0.85;
}