
.header-container {
    position: relative;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 120px;
    width: 1440px;

    display: grid;
    grid-template-columns: 6fr 12fr 6fr;

    background-color: #1178c6;

}

.columbus-text-box {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.columbus-text {
    width: 240px;

    color: #FFF;

    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    cursor: pointer;
}

.navigate-box {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.navigate-box div {
    width: 180px;

    color: #FFF;

    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;

    cursor: pointer;

}

.navigate-box div:hover {

    font-weight: 700;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    animation-play-state: running;
}

.active {
    font-weight: 700;
}

.profile-menu-box {
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    width: 30px;
    height: 30px;

    background-image: url('assets/profile_icon.png');
    background-size: 100%;
    background-position: 50% 50%;

    cursor: pointer;
}

.nickname-text {
    width: 180px;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;

    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: NanumGothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamburger-icon {
    width: 24px;
    height: 23px;

    background-image: url('assets/hamburger_icon.png');
    background-size: 100%;
    background-position: 50% 50%;

    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));

    cursor: pointer;

    display: inline-block;
}