<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav bar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b17d4fa9e7.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>

<!-- 네비게이션 바 -->
     <nav class="navbar">
        <div class="navbar__logo">Columbus</div>
            <div class="menu"><a href="">나의 항해일지</a></div>
            <div class="menu"><a href="">여행일정</a></div>
            <div class="menu"><a href="">여행후기</a></div>
            <div class="menu"><a href="">자유거래</a></div>
        

<!-- 햄버거 -->
<div className='top-navigation'>
     <div className='navigation'>
       <div className="jb-text">Columbus</div>
       <div className="dropdown">
         <div className="icon-button">
           <div className="hamburger-icon"></div>
         </div>
         <div className="dropdown-content">
           <p className=''><span className="inline-link">로그인</span></p>
         </div>
         <div className="dropdown-content">
           <div><span className="inline-link">회원가입</span></div>
         </div>
       </div>
     </div>
   </div>
     
    </nav>

<!-- 검색바 -->

      <div class="parent"> 

        <div class="test1">자유 거래 게시판</div>
        <input class="test2">
        
      </div>

      <button class="search-btn"></button>

</body>
</html>