<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav bar</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b17d4fa9e7.js" crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>

<!-- 네비게이션 바 -->
     <nav class="navbar">
        <div class="navbar__logo">Columbus</div>
            <div class="menu"><a href="">나의 항해일지</a></div>
            <div class="menu"><a href="">여행일정</a></div>
            <div class="menu"><a href="">여행후기</a></div>
            <div class="menu"><a href="">자유거래</a></div>
        

<!-- 햄버거 -->
<div className='top-navigation'>
     <div className='navigation'>
       <div className="jb-text">Columbus</div>
       <div className="dropdown">
         <div className="icon-button">
           <div className="hamburger-icon"></div>
         </div>
         <div className="dropdown-content">
           <p className=''><span className="inline-link">로그인</span></p>
         </div>
         <div className="dropdown-content">
           <div><span className="inline-link">회원가입</span></div>
         </div>
       </div>
     </div>
   </div>
     
    </nav>

<!-- 검색바 -->

<!-- const Parent = () => {
  return (
    <div class="parent">
      <div>
        <div>
          자유 거래 게시판
        </div>
      
      <div>
        <ul>
          <li>
            검색바
          </li>
          <li>
            돋보기
          </li>
        </ul>
      </div>
    </div>
    </div>
  )
}
-->

<!-- 검색바 -->
<div class="parent">
  <div>
    <div class="test1">자유 거래 게시판
    </div>

    <div>
      <input class="test2">
      <button class="search-btn"></button>
    </div>
  </div>
</div>


<!-- 아이템 등록 버튼 -->
<div class="parent2">
  <button class="item-enroll">아이템 등록</button>
</div>

<!-- 가로선 -->
<div class="divider"></div>

<!-- 아이템 카드들  -->

<div class="container">

  <div class="cards">
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>

    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>
    <div class="card">
      <div class="minicard">
        <button class="bookmark"></button>
      </div>
      <div class="title">title 1</div>
      <div class="content">소진공주 소진공주 소진공주 소진공주 소진공주 소진공주 최고의 미모 최고의 미모 최고의 미모
        최고의 미모 최고의 미모 최고의 미모
      </div>
    </div>

    <div class="item-container">
        <button class="close"></button>
          <div class= "item-title">
               제목을 입력해주세요
          </div>
          <div class= "trade-location">
            거래 위치 추가
          </div>
          <div class= "name">
            품명
          </div>
          <div class= "quantity">
            수량
          </div>
          <div class= "dollar">
            화폐 종류
          </div>
          <div class= "price">
            금액
          </div>


    
      <div class="mini-container1">
    
        <div class="trade-location">
        <button class="add-location"></button>
        </div>
    
        <div class="image-box1"></div>
        <div class="image-box2"></div>
    
        <div class="item-name"></div>
        <div class="quantity"></div>
        <div class="doller-type"></div>
        <div class="price"></div>
    
      </div>
    
    
      <div class="mini-container2">
        <div class="item-script"></div>
      
       
    
      </div> 
    
      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <div></div>
      <button></button>
    
      <button></button>
    
    </div>
    


  </div>
</div>

<!-- 페이지네이션 -->
<!-- 리액트 라이브러리로 구현 예정 -->


<!-- 게시물 작성 box -->



</body>
</html>